p {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

p:first-of-type {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 1em;
  }
}