.header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  height: 3rem;

  .titleHeaderHomePage {
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 50%;
    font-size: 1.5rem;

    @media (min-width: 0px) {
      font-size: 0.7rem;
      font-weight: bold;
    }

    @media (min-width: 324px) {
      font-size: 0.8rem;
      font-weight: bold;
    }

    @media (min-width: 436px) {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .imageHeaderHomePage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;

    img {
      height: 2.5rem;
      margin-right: 5%;

      &:hover {
        height: 2.7rem;

      }

      cursor: pointer
    }
  }
}

.menuHeader {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00000044;
  backdrop-filter: blur(10px);

  .menuHeaderContent {
    margin-top: 3rem;
    width: 30%;
    min-height: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.637);



    .topBar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      background-color: blue;
      border-radius: 10px 10px 0 0;


      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        text-align: center;
        background-color: rgb(128, 128, 128);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
    }

    .ulMenuHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      text-align: center;
      font-weight: bold;
      width: 100%;
      height: 100%;

      li {
        color: black;
        font-size: 24px;
        margin-bottom: 5px;
        width: 100%;

        &.disconnect {
          &:hover {
            color: yellow;
          }
        }
      }
    }
  }
}
