<header class="header">
  <div class="titleHeaderHomePage">Friends Collections</div>
  <div class="imageHeaderHomePage" *ngIf="isConnected">
    <img [src]="pictureProfil" alt="profilbasic" (click)="clicked()">
  </div>
</header>
<div [class]="menuHeader" *ngIf="isClicked">
  <div class="menuHeaderContent">
    <div class="topBar"><span class="pointer" (click)="clicked()">X</span></div>
    <ul class="ulMenuHeader">
      <li class="hoverLink pointer" (click)="navigate('home')">Home</li>
      <li class="hoverLink pointer" (click)="navigate('profile')">Profil</li>
      <li>Friends</li>
      <li>Wishlist</li>
      <li class="hoverLink pointer" (click)="navigate('collection')">Collections</li>
      <li>Messages</li>
      <li>contact</li>
      <li class="hoverLink pointer" (click)="disconnect()">Déconnexion</li>
    </ul>
  </div>
</div>