section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    width: 50%;

    h2 {
      font-size: 16px;
      font-weight: bold;
    }

    img {
      //height: 10rem;
      width: 80%;
      max-width: 150px;
      max-height: 150px;
      margin: 0 auto;

      &:hover {
        //height: 11rem;
        width: 100%;
      }
    }

  }
}
