<div class="searchItemBar">
  <button (click)="clickSearchButton()" class="searchButton">chercher</button>
  <button (click)="clickCreateButton()" class="createButton">créer</button>
</div>
<div *ngIf="!showItem">
  <div *ngFor="let item of currentItemList" (click)="showListItemOfCurrentType(item.name)">
    <h1>{{item.name}}</h1>
    <ul *ngIf="item.name === currentType">
      <li *ngFor="let itemCollection of item.items">
        <div class="containPointerTrash">
          <div class="pointer" (click)="itemChoiced(itemCollection.id)">
            {{itemCollection.name}}
          </div>
          <img (click)="removeItem(itemCollection.id)" class="trash" src="../../../../assets/image/trash.png"
            alt="trash">
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="showItem">
  <app-item></app-item>
  <button (click)="itemClicked()">Précédent</button>
</div>