<div class="body" *ngIf="currentUser && !updateButtonClicked">
  <button (click)="isUpdateButtonClicked()">Update votre profile</button>
  <h2 class="titleBodyInformations">Bienvenu sur ton profile {{currentUser.pseudo}} !</h2>
  <div class="bodyInformations">
    <p>Pseudo : {{currentUser.pseudo}}</p>
    <p>Email : {{currentUser.email}}</p>
    <p>Nom : {{currentUser.lastName}}</p>
    <p>Prénom : {{currentUser.firstName}}</p>
    <p>Date de naissance : {{currentUser.birthdate | date}}</p>
    <p>Mobile : {{currentUser.phoneNumber}}</p>
    <p>Rue : {{currentUser.street}}</p>
    <p> N° : {{currentUser.homeNumber}}</p>
    <p>Code postal : {{currentUser.postalCode}}</p>
    <p>City : {{currentUser.city}}</p>
  </div>
</div>
<div class="body" *ngIf="updateButtonClicked">
  <app-profile-update></app-profile-update>
</div>