// ion-toolbar {
//   display: flex;
//   justify-content: space-between;

//   ion-title {
//     font-size: 1.5rem;

//   }

//   div {
//     img {
//       height: 2.5rem;
//     }
//   }
// }

ion-header {


  ion-toolbar {
    display: flex;
    justify-content: space-between;

    ion-title {
      font-size: 1.5rem;
    }

    div {

      img {
        height: 2.5rem;
      }

    }

  }
}
