<div class="searchBarContainer">
  <input class="searchBar" placeholder="Que cherchez vous ? ..." type="text" [(ngModel)]="currentSearch"
    (input)="changeSearchInput()">
</div>
<div class="textInfoContainer">
  <p class="textInfo">Vous n'avez pas trouvé votre objet ? </p><span class="textInfoLink pointer"
    (click)="navigateToCreateItem()"> Créé le ici !</span>
</div>
<div *ngIf="currentSearch">
  <div class="containerCard">
    <div class="body" *ngFor="let item of currentSearchList">
      <div class="imageContainer">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <div class="cardDetails">
          <div class="itemTile">{{item.name}}</div>
          <div class="subTitleItemVersion">Version: {{item.version}}</div>
          <div class="subTitleItemLanguage">Langue: {{item.language}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="containerCard" *ngIf="!currentSearch">
  <div class="body" *ngFor="let item of currentItemsList">
    <div class="imageContainer">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <div class="cardDetails">
        <div class="itemTile">{{item.name}}</div>
        <div class="subTitleItemVersion">Version: {{item.version}}</div>
        <div class="subTitleItemLanguage">Langue: {{item.language}}</div>
      </div>
    </div>
  </div>
</div>